
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p>Користувача успішно додано.</p>
    <a class="alert-link" href="/Home/Index">Поавернутися на головну.</a>
</div>

