
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="jumbotron"> 
    @if (!ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        <p>
            Вас вітає онлайн журнал. Для використання системи зареєструйтеся або увійдіть.
        </p>
    }
    else
    {
        <p>
            Ви увійшли як @ViewContext.HttpContext.User.Identity.Name
        </p>
    }

    </div>

