
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert ">
    <h2 class="modal-header">Реєстрація</h2>
</div>

<div class="checkbox col-lg-9">
    <label><input id="show" type="checkbox" onchange="onShowClick()" checked="checked" /> As a student</label>
</div>

<form class="col-lg-9" action="/Home/Add" method="post">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label for="">Login</label>
        <input type="text" class="form-control" name="Login" />
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" name="Password" />
    </div>
    <div id="group" class="form-group">
        <label for="">Group</label>
        <input type="text" class="form-control" name="Group" />
    </div>
    <button type="submit" class="btn btn-success btn-lg">Submit</button>
</form>

